:root {
    --color-li-hover: #b60f18;
    --color-button-hover: #520206;
    --font-color: black;
    --font-color-secondary: white;
    --background: #FAF9F6;
    --footer-background: #1a1a1a;
    --line-color: black;
    --outline: #ffcb05;
    --font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav[aria-label="navigation"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid var(--line-color);
}

.logo {
    width: 3.5rem;
    height: auto;
    margin: 0.6rem;
}

nav[aria-label="navigation"] ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.5rem;
}

nav[aria-label="navigation"] ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    transition: color 0.3s, font-weight 0.3s;
}

nav ul li a:hover, nav ul li a[aria-current="page"], nav ul li a:focus {
    text-decoration: none;
    text-shadow: 0.5px 0 0 var(--color-li-hover), -0.5px 0 0 var(--color-li-hover);
    color: var(--color-li-hover);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#hero-banner {
    background-image: url('../assets/images/arceus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    color: var(--font-color-secondary);
    padding: 5rem;
    text-align: center;
}

#hero-banner h1{
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

#hero-banner p{
    font-size: 1.5rem;
    margin: 1rem 0 3.5rem 0;
}

#banner-btn {
    text-decoration: none;
    background-color: var(--color-li-hover);
    color: var(--font-color-secondary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#banner-btn:hover, #banner-btn:focus {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    outline: 3px solid var(--outline); 
    outline-offset: 2px;
}

#banner-btn:active {
    transform: scale(0.98);
}

#introduction {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#introduction h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#introduction p {
    font-size: 1.2rem;
    margin: 0 auto 1.5rem auto;
    max-width: 90rem;
    line-height: 1.2;
}

#produit-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    color: var(--font-color-secondary);
    background-color: var(--footer-background);
    padding: 0.5rem 0;
}

.carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--font-color-secondary);
    margin-top: 0;
    border-top: 0.2rem solid var(--line-color);
}

#carrousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

#carrousel-pause-btn {
    margin-bottom: 1.1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--color-li-hover);
    border: 0.01rem solid var(--line-color);
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    color: var(--font-color-secondary);
}

#carrousel-pause-btn:hover, #carrousel-pause-btn:focus {
    background-color: var(--color-button-hover);
    outline: 0.23rem solid var(--outline); 
    outline-offset: 0.1rem;
}

#carrousel-slides-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 30rem;
    height: auto;
    border-radius: 0.5rem;
}

.nav-btn {
    background: rgba(0, 0, 0, 0.05);
    border: none;
    height: 30rem;
    width: 3rem;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-btn:hover, .nav-btn:focus{
    background: rgba(0, 0, 0, 0.15);
    color: var(--color-li-hover);
}

.carrousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 5rem;
    border: 0.01rem solid #000;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    padding: 0;
    margin: 0 0.5rem;
}

.indicator[aria-selected="true"] {
    background-color: var(--color-li-hover);
    transform: scale(1.2);
}

.indicator:hover, .indicator:focus {
    background-color: var(--color-li-hover);
    outline: 0.23rem solid var(--outline); 
    outline-offset: 0.1rem;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0.5rem 0;
}

#video h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

#video video {
    width: 50rem;
    max-width: 115vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2);
}

#transcription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem 2rem 2rem 2rem;
}

#transcription h3 {
    font-size: 1.8rem;
}

#transcription p {
    margin: 0 auto 1.5rem auto;
    font-size: 1.2rem;
}

.download-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.download-btn {
    text-decoration: none;
    margin-bottom: 1.1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--color-li-hover);
    padding: 0.8rem 1.2rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    color: var(--font-color-secondary);
}

.download-btn:hover {
    background-color: var(--color-button-hover);
    outline: 0.23rem solid var(--outline); 
    outline-offset: 0.1rem;
}

#definitions {
    background-color: var(--background);
    border-top: 0.2rem solid var(--line-color);
}

#definitions h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}

#definitions dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

#definitions dt {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1rem;
}

#definitions dd {
    font-size: 1.2rem;
    line-height: 3rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: var(--font-color);
    font-style: italic;
}

footer {
    border-top: 0.2rem solid var(--line-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.9rem;
    margin-top: auto;
    background-color: var(--footer-background); 
    color: var(--font-color-secondary);
}

nav[aria-label="footer"] ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0; 
    margin: 0;
    gap: 2rem;
    font-size: 1.25rem;
}

nav[aria-label="footer"] a {
    color: var(--font-color-secondary);
    opacity: 0.9;
}

nav[aria-label="footer"] a:hover {
    color: var(--color-li-hover);
}

footer p {
    font-size: 1rem;
    margin-top: 1.5rem;
}
    